[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = ">=2.1,<2.2"
django-countries = "*"

[dev-packages]
django-debug-toolbar = "*"

[requires]
python_version = "3.7"
