{% extends "logbook/base.html" %}
{% block extra_title %} - Aircraft{% endblock %}

{% load logbook_utils %}

{% block extra_head %}
<style>
    .table-hover-column {
        --bs-bg-opacity: 0.04;
        background-color: rgba(var(--bs-black-rgb), var(--bs-bg-opacity)) !important;
    }

    {% for fuel_type in fuel_types %}
        .fuel-color-{{ fuel_type.pk }} {
            color: {{ fuel_type.color }};
        }
    {% endfor %}
</style>
{% endblock %}

{% block content %}
    <h1>Aircraft</h1>

    <div class="table-responsive">
        <table class="table table-striped table-sm table-hover">
            <thead>
            <tr>
                <th colspan="4" class="align-middle text-center"></th>
                <th colspan="8" class="align-middle text-center">Speeds</th>
            </tr>
            <tr>
                <th scope="col" class="align-middle">Tail No.</th>
                <th scope="col" class="align-middle">Fuel</th>
                <th scope="col" class="align-middle">Flags</th>
                <th scope="col" class="align-middle">
                    <abbr title="{{ aircraft_fields.demonstrated_crosswind.verbose_name|capfirst }}"><i class="fa-solid fa-wind"></i></abbr>
                </th>
                <th scope="col">
                    {% include "logbook/field_description_item.html" with field=aircraft_fields.v_r only %}
                </th>
                <th scope="col">
                    {% include "logbook/field_description_item.html" with field=aircraft_fields.v_y only %}
                </th>
                <th scope="col">
                    {% include "logbook/field_description_item.html" with field=aircraft_fields.v_md only %}
                </th>
                <th scope="col">
                    {% include "logbook/field_description_item.html" with field=aircraft_fields.v_fe only %}
                </th>
                <th scope="col">
                    {% include "logbook/field_description_item.html" with field=aircraft_fields.v_app only %}
                </th>
                <th scope="col">
                    {% include "logbook/field_description_item.html" with field=aircraft_fields.v_ref only %}
                </th>
                <th scope="col">
                    {% include "logbook/field_description_item.html" with field=aircraft_fields.v_s1 only %}
                </th>
                <th scope="col">
                    {% include "logbook/field_description_item.html" with field=aircraft_fields.v_c only %}
                </th>
            </tr>
            </thead>
            <tbody>
            {% for aircraft in object_list %}
                <tr>
                    <td>
                        {% with tooltip=aircraft.remarks %}
                            {% if tooltip %}<abbr title="{{ tooltip }}">{% endif %}
                            {{ aircraft.registration }}
                            {% if tooltip %}</abbr>{% endif %}
                        {% endwith %}

                        <small>
                            (<abbr title="{{ aircraft.maker }} {{ aircraft.model }}">{{ aircraft.icao_designator }}</abbr>)
                        </small>
                    </td>
                    <td>
                        {% for fuel_type in aircraft.fuel_types.all %}
                            <abbr title="{{ fuel_type.name }}"><i class="fa-solid fa-gas-pump fuel-color-{{ fuel_type.pk }}"></i></abbr>
                        {% endfor %}
                    </td>
                    <td>
                        {% if aircraft.currency_required %}
                            {% include "logbook/currency_status.html" with currency=aircraft.currency_status %}
                        {% endif %}
                        {% if aircraft.night_vfr %}
                            {% include "logbook/field_description_item.html" with field=aircraft_fields.night_vfr name="<i class='fa-regular fa-moon text-primary'></i>" only %}
                        {% endif %}
                        {% if aircraft.reduced_noise %}
                            {% include "logbook/field_description_item.html" with field=aircraft_fields.reduced_noise name="<i class='fa-solid fa-volume-low text-secondary'></i>" only %}
                        {% endif %}
                    </td>
                    <td>
                        {% if aircraft.demonstrated_crosswind != None %}
                            {{ aircraft.demonstrated_crosswind }} KT
                        {% endif %}
                    </td>
                    <td>
                        {% include "logbook/speed_item.html" with speed=aircraft.v_r unit=aircraft.speed_unit only %}
                    </td>
                    <td>
                        {% include "logbook/speed_item.html" with speed=aircraft.v_y unit=aircraft.speed_unit only %}
                    </td>
                    <td>
                        {% include "logbook/speed_item.html" with speed=aircraft.v_md unit=aircraft.speed_unit only %}
                    </td>
                    <td>
                        {% include "logbook/speed_item.html" with speed=aircraft.v_fe unit=aircraft.speed_unit only %}
                    </td>
                    <td>
                        {% include "logbook/speed_item.html" with speed=aircraft.v_app unit=aircraft.speed_unit only %}
                    </td>
                    <td>
                        {% include "logbook/speed_item.html" with speed=aircraft.v_ref unit=aircraft.speed_unit only %}
                    </td>
                    <td>
                        {% include "logbook/speed_item.html" with speed=aircraft.v_s1 unit=aircraft.speed_unit only %}
                    </td>
                    <td>
                        {% include "logbook/speed_item.html" with speed=aircraft.v_c unit=aircraft.speed_unit only %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
    const tds = document.querySelectorAll(".table-hover td");

    tds.forEach((td) => {
      const table = td.closest("table");
      const cols = table.querySelectorAll(`td:nth-child(${td.cellIndex + 1}), th[scope="col"]:nth-child(${td.cellIndex + 1})`);

      td.addEventListener("mouseover", () => {
        cols.forEach((hover) => hover.classList.add("table-hover-column"));
      });
      td.addEventListener("mouseleave", () => {
        cols.forEach((hover) => hover.classList.remove("table-hover-column"));
      });
    });
    </script>

    <h2 class="pt-3">Speeds</h2>

    <ul>
        <li>V<sub>X</sub> = speed for best <strong>angle</strong> of climb</li>
        <li>V<sub>Y</sub> = speed for best <strong>rate</strong> of climb</li>
        <li>V<sub>MD</sub> = speed for the best <strong>glide range</strong> (minimum drag)</li>
        <li>V<sub>FE</sub> = maximum flap extended speed</li>
        <li>V<sub>LE</sub> = maximum landing gear extended speed</li>
        <li>V<sub>LO</sub> = maximum landing gear operating speed (extending or retracting)</li>
        <li>V<sub>S0</sub> = stall speed or the minimum steady flight speed in the landing configuration</li>
        <li>V<sub>S1</sub> = stall speed or the minimum steady flight speed obtained in a specified configuration</li>
        <li>V<sub>REF</sub> = V<sub>S0</sub> &times; 1.3 - reference landing speed</li>
    </ul>

{% endblock %}
