{% extends "logbook/base.html" %}
{% load logbook_utils %}

{% block content %}
    <h1>Aircraft</h1>

    <div class="table-responsive">
        <table class="table table-striped table-sm table-hover">
            <thead>
            <tr>
                <th scope="col" rowspan="2" class="align-middle">Currency</th>
                <th scope="col" rowspan="2" class="align-middle">Registration</th>
                <th scope="col" rowspan="2" class="align-middle">Designator</th>
                <th scope="col" rowspan="2" class="align-middle">
                    <abbr title="{{ aircraft_fields.demonstrated_crosswind.verbose_name|capfirst }}">💨</abbr>
                </th>
                <th scope="colgroup" colspan="6" class="align-middle text-center">Speeds</th>
            </tr>
            <tr>
                <th scope="col">{% include "logbook/speed_description_item.html" with speed=aircraft_fields.v_r only %}</th>
                <th scope="col">{% include "logbook/speed_description_item.html" with speed=aircraft_fields.v_y only %}</th>
                <th scope="col">{% include "logbook/speed_description_item.html" with speed=aircraft_fields.v_bg only %}</th>
                <th scope="col">{% include "logbook/speed_description_item.html" with speed=aircraft_fields.v_app only %}</th>
                <th scope="col">{% include "logbook/speed_description_item.html" with speed=aircraft_fields.v_ref only %}</th>
                <th scope="col">{% include "logbook/speed_description_item.html" with speed=aircraft_fields.v_s only %}</th>
                <th scope="col">{% include "logbook/speed_description_item.html" with speed=aircraft_fields.v_c only %}</th>
            </tr>
            </thead>
            <tbody>
            {% for aircraft in object_list %}
                <tr>
                    <td class="text-center">
                        {% if aircraft.currency_required %}
                            {% include "logbook/currency_status.html" with currency=aircraft.currency_status %}
                        {% endif %}
                    </td>
                    <td>
                        {% if aircraft.remarks %}<abbr title="{{ aircraft.remarks }}">{% endif %}
                        {{ aircraft.registration }}
                        {% if aircraft.remarks %}</abbr>{% endif %}
                    </td>
                    <td><abbr title="{{ aircraft.maker }} {{ aircraft.model }}">{{ aircraft.icao_designator }}</abbr>
                    </td>
                    <td>
                        {% if aircraft.demonstrated_crosswind != None %}
                            {{ aircraft.demonstrated_crosswind }} KT
                        {% endif %}
                    </td>
                    <td>{% include "logbook/speed_item.html" with speed=aircraft.v_r unit=aircraft.speed_unit only %}</td>
                    <td>{% include "logbook/speed_item.html" with speed=aircraft.v_y unit=aircraft.speed_unit only %}</td>
                    <td>{% include "logbook/speed_item.html" with speed=aircraft.v_bg unit=aircraft.speed_unit only %}</td>
                    <td>{% include "logbook/speed_item.html" with speed=aircraft.v_app unit=aircraft.speed_unit only %}</td>
                    <td>{% include "logbook/speed_item.html" with speed=aircraft.v_ref unit=aircraft.speed_unit only %}</td>
                    <td>{% include "logbook/speed_item.html" with speed=aircraft.v_s unit=aircraft.speed_unit only %}</td>
                    <td>{% include "logbook/speed_item.html" with speed=aircraft.v_c unit=aircraft.speed_unit only %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <h2 class="pt-3">Speeds</h2>

    <ul>
        <li>V<sub>X</sub> = speed that will allow for best <strong>angle</strong> of climb</li>
        <li>V<sub>Y</sub> = speed that will allow for the best <strong>rate</strong> of climb</li>
        <li>V<sub>S0</sub> = stall speed with full landing flaps extended</li>
        <li>V<sub>S1</sub> = stall speed in clean configuration</li>
        <li>V<sub>REF</sub> = V<sub>S0</sub> &times; 1.3</li>
    </ul>

{% endblock %}
