<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <title>Logbook</title>

    <style>
        body {
            padding-top: 5rem;
        }

        .pagination {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    </style>
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="{% url "logbook:dashboard" %}">Logbook</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    {% with current_route=request.resolver_match.url_name %}
        <div class="collapse navbar-collapse" id="navbarDefault">
            <ul class="navbar-nav mr-auto">
                {% include "logbook/nav_item.html" with name="Log entries" slug="logbook:entries" current_route=current_route only %}
                {% include "logbook/nav_item.html" with name="Certificates" slug="logbook:certificates" current_route=current_route only %}
                {% include "logbook/nav_item.html" with name="Admin" slug="admin:index" current_route=current_route only %}
                {% include "logbook/nav_item.html" with name="Logout" slug="admin:logout" current_route=current_route only %}
            </ul>
        </div>
    {% endwith %}
</nav>

<main role="main" class="container">

    {% block content %}
    {% endblock %}

</main>

<!-- jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

</body>

</html>
