{% load django_bootstrap5 %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% bootstrap_css %}

    <title>Logbook{% block extra_title %}{% endblock %}</title>

    <style>
        body {
            padding-top: 3.5rem;
        }

        h1, h2 {
            padding-bottom: 1rem;
        }
    </style>

    {% block extra_head %}{% endblock %}
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'logbook:dashboard' %}">Dashboard</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        {% with current_route=request.resolver_match.view_name %}
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto">
                    {% include "logbook/nav_item.html" with name="Log entries" slug="logbook:entries" current_route=current_route only %}
                    {% include "logbook/nav_item.html" with name="Certificates" slug="logbook:certificates" current_route=current_route only %}
                    {% include "logbook/nav_item.html" with name="Experience" slug="logbook:experience" current_route=current_route only %}
                    {% include "logbook/nav_item.html" with name="Aircraft" slug="logbook:aircraft" current_route=current_route only %}
                    {% include "logbook/nav_item.html" with name="Astro" slug="logbook:astro" current_route=current_route only %}
                    {% include "logbook/nav_item.html" with name="Admin" slug="admin:index" current_route=current_route only %}
                    {% include "logbook/nav_item.html" with name="Logout" slug="admin:logout" current_route=current_route only %}
                </ul>
            </div>
        {% endwith %}
    </div>
</nav>

<main role="main">
    <div class="container p-3">
        {% block content %}
        {% endblock %}
    </div>
</main>

{% bootstrap_javascript %}

</body>

</html>
