{% extends "logbook/base.html" %}
{% block extra_title %} - Certificates{% endblock %}

{% load django_bootstrap5 %}
{% load logbook_utils %}

{% block content %}

    <h1>Certificates</h1>

    {% bootstrap_messages %}

    <div class="form-check pb-3">
        <input class="form-check-input" type="checkbox" id="hideInvalid" checked>
        <label class="form-check-label" for="hideInvalid">
            Hide invalid certificates
        </label>
    </div>

    <script>
        document.querySelector('#hideInvalid').addEventListener('change',
            () => {
                document.querySelectorAll('.table tbody tr').forEach(
                    (row) => {
                        if (row.classList.contains('text-muted')) {
                            row.classList.toggle('d-none');
                        }
                    }
                );
            }
        );
    </script>

    <div class="table-responsive">
        <table class="table table-sm table-hover">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Number</th>
                <th scope="col">Issue Date</th>
                <th scope="col">Valid Until</th>
                <th scope="col">Issuing Authority</th>
                <th scope="col">Remarks</th>
            </tr>
            </thead>
            <tbody>
            {% for obj in object_list %}
                <tr class="{% if not obj.valid %}table-light text-muted d-none{% endif %}">
                    <td>
                        {% if obj.supersedes %}<abbr title="Supersedes {{ obj.supersedes }}">{% endif %}
                        {{ obj.name }}
                        {% if obj.supersedes %}</abbr>{% endif %}
                    </td>
                    <td>{{ obj.number | default:"-" }}</td>
                    <td>{{ obj.issue_date.isoformat }}</td>
                    <td>{{ obj.valid_until.isoformat | default:"-" }}</td>
                    <td>{{ obj.authority }}</td>
                    <td>
                        {% if obj.remarks %}
                            {{ obj.remarks }}
                        {% else %}
                            {% if obj.superseded_by %}
                                Superseded by "{{ obj.superseded_by.number | default:obj.superseded_by.issue_date }}"
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
