{% extends "logbook/base.html" %}
{% load django_bootstrap5 %}
{% load logbook_utils %}

{% block content %}

    <h1>Certificates</h1>

    {% bootstrap_messages %}

    <div class="table-responsive">
        <table class="table table-sm table-hover">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Number</th>
                <th scope="col">Issue Date</th>
                <th scope="col">Valid Until</th>
                <th scope="col">Issuing Authority</th>
                <th scope="col">Remarks</th>
            </tr>
            </thead>
            <tbody>
            {% for obj in object_list %}
                <tr class="{% if obj.valid %}table-light{% else %}text-muted{% endif %}">
                    <td>{{ obj.name }}</td>
                    <td>{{ obj.number | default:"-" }}</td>
                    <td>{{ obj.issue_date }}</td>
                    <td>{{ obj.valid_until | default:"-" }}</td>
                    <td>{{ obj.authority }}</td>
                    <td>
                        {% if obj.remarks %}
                            {{ obj.remarks }}
                        {% else %}
                            {% if obj.superseded_by %}Superseded by "{{ obj.superseded_by.number }}"{% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
