{% extends "logbook/base.html" %}
{% load logbook_utils %}

{% block content %}

    <h1>Certificates</h1>

    <div class="table-responsive">
        <table class="table table-sm table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Issue Date</th>
                <th>Valid Until</th>
                <th>Issuing Authority</th>
                <th>Remarks</th>
            </tr>
            </thead>
            <tbody>
            {% for obj in object_list %}
                <tr class="{% if obj.is_valid %}table-light{% else %}text-muted{% endif %}">
                    <td>{{ obj.name }}</td>
                    <td>{{ obj.number | default:"-" }}</td>
                    <td>{{ obj.issue_date }}</td>
                    <td>{{ obj.valid_until | default:"-" }}</td>
                    <td>{{ obj.authority }}</td>
                    <td>{{ obj.remarks }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
