{% load logbook_utils %}

<abbr title="{% if currency.status.value != CurrencyStatus.NOT_CURRENT %}expires in {{ currency.expires_in | duration:'%d' }} days on {{ currency.expires_on | date:'Y-m-d' }}, {% endif %}{{ currency.landings_to_renew }} landing{% if currency.landings_to_renew > 1 %}s{% endif %} to renew{% if currency.time_to_renew is not None %}, {{ currency.time_to_renew | duration }} to renew{% endif %}{% if currency.comment is not None %}, {{ currency.comment }}{% endif %}">{{ currency.status|safe }}</abbr>
