{% extends "logbook/base.html" %}
{% block extra_title %} - Dashboard{% endblock %}

{% load django_bootstrap5 %}
{% load logbook_utils %}

{% block extra_head %}
    <style>
        .table-currency {
            max-width: 15rem;
        }

        .table-statistics {
            max-width: 50rem;
        }

        .table-totals {
            max-width: 50rem;
        }

        .ordering-marker {
            padding-left: 0.25rem;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>Dashboard</h1>

    {% bootstrap_messages %}

    <h2>Currency status</h2>
    <div class="table-responsive">
        <table class="table table-bordered text-center table-currency">
            <caption><strong>&dagger;</strong> LAPL(A) currency status</caption>
            <thead>
            <tr>
                <th scope="col">{% include "logbook/currency_status.html" with currency=lapl_a_currency %}&dagger;</th>
                <th scope="col">Day</th>
                <th scope="col">Night</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">SEP</th>
                <td>{% include "logbook/currency_status.html" with currency=passenger_currency.sep.day %}</td>
                <td>{% include "logbook/currency_status.html" with currency=passenger_currency.sep.night %}</td>
            </tr>
            <tr>
                <th scope="row">TMG</th>
                <td>{% include "logbook/currency_status.html" with currency=passenger_currency.tmg.day %}</td>
                <td>{% include "logbook/currency_status.html" with currency=passenger_currency.tmg.night %}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <h2>Statistics</h2>

    <div class="table-responsive">
        <table class="table table-striped table-sm table-hover table-bordered text-center table-statistics">
            <thead>
            <tr>
                <th rowspan="2" scope="col" class="align-middle">Class</th>
                {% for label in period_labels %}
                    <th colspan="2" scope="colgroup" {% cycle '' 'class="d-none d-lg-table-cell"' %}>
                        {{ label }}
                    </th>
                {% endfor %}
            </tr>
            <tr>
                {% for label in period_labels %}
                    <th scope="col" {% cycle '' 'class="d-none d-lg-table-cell"' as visibility %}>
                        <abbr title="Time"><i class="fa-solid fa-clock"></i></abbr>
                    </th>
                    <th scope="col" {{ visibility }}>
                        <abbr title="Landings"><i class="fa-solid fa-plane-arrival"></i></abbr>
                    </th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for aircraft_type, type_totals in totals_per_type.items %}
                <tr>
                    <th scope="row">{{ aircraft_type }}</th>
                    {% for totals in type_totals.per_period %}
                        <td {% cycle '' 'class="d-none d-lg-table-cell"' as visibility %}>
                            <abbr title="{% include "logbook/per_function_item.html" with items=totals.per_function.items only %}">{{ totals.grand.time | duration:"%{h}" }}</abbr><sup>h</sup>
                        </td>
                        <td {{ visibility }}>
                            <abbr title="{% include "logbook/per_function_item.html" with items=totals.per_function.items landings=True only %}">{{ totals.grand.landings }}</abbr>
                        </td>
                    {% endfor %}
                    {% resetcycle %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <h2>Totals</h2>

    <div class="table-responsive">
        <table class="table table-striped table-sm table-hover table-totals">
            <thead>
            <tr>
                <th scope="col">
                    Type / Registration
                    {% include 'logbook/ordering_marker.html' with criterion='default' icon='fa-arrow-down-a-z' %}
                </th>
                <th scope="col" class="text-end">
                    <abbr title="Total Time"><i class="fa-solid fa-clock"></i></abbr>
                    {% include 'logbook/ordering_marker.html' with criterion='-time' icon='fa-arrow-down-wide-short' %}
                </th>
                <th scope="col" class="text-end">
                    <abbr title="Total Landings"><i class="fa-solid fa-plane-arrival"></i></abbr>
                    {% include 'logbook/ordering_marker.html' with criterion='-landings' icon='fa-arrow-down-wide-short' %}
                </th>
            </tr>
            </thead>
            <tbody>
            {% for aircraft_type, type_totals in totals_per_type.items %}
                <tr>
                    <th>{{ aircraft_type.value }}</th>
                    <th class="text-end">
                        <abbr title="{% include "logbook/per_function_item.html" with items=type_totals.per_function.items only %}">
                            {{ type_totals.grand.time | duration }}
                        </abbr>
                    </th>
                    <th class="text-end">
                        <abbr title="{% include "logbook/per_function_item.html" with items=type_totals.per_function.items landings=True only %}">
                            {{ type_totals.grand.landings }}
                        </abbr>
                    </th>
                </tr>
                {% for aircraft, aircraft_per_function, aircraft_totals in type_totals.per_aircraft %}
                    <tr>
                        <td>
                            <abbr title="{{ aircraft.maker }} {{ aircraft.model }} ({{ aircraft.icao_designator }})">
                                {{ aircraft.registration }}
                            </abbr>{% if aircraft.currency_required %}&nbsp;
                            {% include "logbook/currency_status.html" with currency=aircraft.currency_status %}{% endif %}
                        </td>
                        <td class="text-end">
                            <abbr title="{% include "logbook/per_function_item.html" with items=aircraft_per_function.items only %}">
                                {{ aircraft_totals.time | duration }}
                            </abbr>
                        </td>
                        <td class="text-end">
                            <abbr title="{% include "logbook/per_function_item.html" with items=aircraft_per_function.items landings=True only %}">
                                {{ aircraft_totals.landings }}
                            </abbr>
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
            <tr>
                <th>Grand Total</th>
                <th class="text-end">{{ grand_total.time | duration }}</th>
                <th class="text-end">{{ grand_total.landings }}</th>
            </tr>
            </tbody>
        </table>
    </div>

{% endblock %}
