{% extends "logbook/base.html" %}
{% load logbook_utils %}

{% block content %}
    <h1>Logbook dashboard</h1>

    <p class="lead">
        Everything you need in one place!
    </p>

    <h2>Aircraft totals</h2>

    <div class="table-responsive">
        <table class="table table-striped table-sm table-hover">
            <thead>
            <tr>
                <th>Type / Registration</th>
                <th class="text-right">Total Time</th>
                <th class="text-right">Total Landings</th>
            </tr>
            </thead>
            <tbody>
            {% for aircraft_type, type_totals in totals_per_type.items %}
                <tr>
                    <th>{{ aircraft_type.value }}</th>
                    <th class="text-right">
                        <abbr title="{% for key, value in type_totals.per_function.items %}{{ key }}: {{ value.time | duration:"%{h}h %{m}m" }} {% if not forloop.last %} | {% endif %}{% endfor %}">
                           {{ type_totals.grand.time | duration:"%{h}h %{m}m" }}
                        </abbr>
                    </th>
                    <th class="text-right">
                        <abbr title="{% for key, value in type_totals.per_function.items %}{{ key }}: {{ value.landings }} {% if not forloop.last %} | {% endif %}{% endfor %}">
                            {{ type_totals.grand.landings }}
                        </abbr>
                    </th>
                </tr>
                {% for aircraft, aircraft_per_function, aircraft_totals in type_totals.per_aircraft %}
                    <tr>
                        <td>
                            <abbr title="{{ aircraft.maker }} {{ aircraft.model }} ({{ aircraft.icao_designator }})">
                                {{ aircraft.registration }}
                            </abbr>
                        </td>
                        <td class="text-right">
                            <abbr title="{% for key, value in aircraft_per_function.items %}{{ key }}: {{ value.time | duration:"%{h}h %{m}m" }} {% if not forloop.last %} | {% endif %}{% endfor %}">
                                {{ aircraft_totals.time | duration:"%{h}h %{m}m" }}
                            </abbr>
                        </td>
                        <td class="text-right">
                            <abbr title="{% for key, value in aircraft_per_function.items %}{{ key }}: {{ value.landings }} {% if not forloop.last %} | {% endif %}{% endfor %}">
                                {{ aircraft_totals.landings }}
                            </abbr>
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
            <tr>
                <th>Grand Total</th>
                <th class="text-right">{{ grand_total.time | duration:"%{h}h %{m}m" }}</th>
                <th class="text-right">{{ grand_total.landings }}</th>
            </tr>
            </tbody>
        </table>
    </div>

{% endblock %}
