{% load logbook_utils %}

<div class="table-responsive">
    <table class="table table-striped table-sm table-hover">
        <thead>
        <tr>
            <th scope="col">Time function</th>
            <th scope="col" class="text-end">Required</th>
            <th scope="col" class="text-end">Accrued</th>
            <th scope="col" class="text-end">Remaining</th>
            <th scope="col" class="text-end">Status</th>
        </tr>
        </thead>
        <tbody>
        {% for type, experience in requirements.items %}
            <tr>
                <td>{{ type }}</td>
                <td class="text-end">
                    {% if experience.has_requirements %}{{ experience.required | represent:experience }}{% endif %}
                </td>
                <td class="text-end">{{ experience.accrued | represent:experience }}</td>
                <td class="text-end">
                    {% if experience.has_requirements %}{{ experience.remaining | represent:experience }}{% endif %}
                </td>
                <td class="text-end {% if experience.completed %}text-success{% else %}text-danger{% endif %}">
                    {% if experience.completed %}
                        <i class='fa-regular fa-check text-success'></i>
                    {% else %}
                        <i class='fa-regular fa-xmark text-danger'></i>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
        {% if caption %}
            <caption>{{ caption }}</caption>
        {% endif %}
    </table>
</div>
