{% extends "logbook/base.html" %}
{% block extra_title %} - Experience{% endblock %}

{% block content %}

    <h1>Experience</h1>

    <h2>Currency</h2>

    {% include "logbook/experience.html" with requirements=total.experience caption=total.details only %}

    <h3>SEP/TMG revalidation - FCL.740</h3>

    <p>Within the 12 months preceding the expiry date of the rating:</p>

    {% include "logbook/experience.html" with requirements=sep_revalidation.experience caption=sep_revalidation.details only %}

    <h2>Training</h2>

    <h3>PPL(A) - FCL.210.A</h3>

    {% include "logbook/experience.html" with requirements=ppl.experience caption=ppl.details only %}

    <h3>NVFR - FCL.810</h3>

    {% include "logbook/experience.html" with requirements=night.experience caption=night.details only %}

    <h3>IR(A) - FCL.610 IR</h3>

    {% include "logbook/experience.html" with requirements=ir.experience caption=ir.details only %}

    <h3>CPL(A) - Appendix 3 - E. CPL modular course</h3>

    {% include "logbook/experience.html" with requirements=cpl.experience caption=cpl.details only %}

    <h3>CRI(A) SE &ndash; FCL.915.CRI</h3>

    {% include "logbook/experience.html" with requirements=cri.experience caption=cri.details only %}

{% endblock %}
