{% extends "logbook/base.html" %}

{% block content %}

    <h1>Experience</h1>

    <h2>PPL(A)</h2>

    {% include "logbook/experience.html" with requirements=ppl.experience caption=ppl.details only %}

    <h2>NVFR</h2>

    {% include "logbook/experience.html" with requirements=night.experience caption=night.details only %}

    <h2>IR(A)</h2>

    {% include "logbook/experience.html" with requirements=ir.experience caption=ir.details only %}

    <h2>CPL(A)</h2>

    {% include "logbook/experience.html" with requirements=cpl.experience caption=cpl.details only %}

{% endblock %}
