{% extends "logbook/base.html" %}
{% block extra_title %} - Entries{% endblock %}

{% load django_bootstrap5 %}
{% load logbook_utils %}

{% block content %}

    <h1>Log entries</h1>

    {% include "logbook/pagination.html" with is_paginated=is_paginated paginator=paginator page_obj=page_obj only %}

    <div class="table-responsive">
        <table class="table table-striped table-sm table-hover">
            <thead>
            <tr>
                <td colspan="4" class="text-muted text-end">Totals brought forward ▶</td>
                {% for aircraft_type in AircraftType reversed %}
                    <td class="text-muted text-center">{% total_time object_list.0.departure_time aircraft_type=aircraft_type %}</td>
                {% endfor %}
                <td class="text-muted text-center">{% total_landings object_list.0.departure_time %}</td>
                <td class="text-muted text-end">▶</td>
                {% for function_type in FunctionType %}
                    <td class="text-muted text-center">{% total_time object_list.0.departure_time time_function=function_type %}</td>
                {% endfor %}
                <td class="text-muted">◀ Totals brought forward</td>
            </tr>
            <tr>
                <th scope="col">Year: {{ object_list.0.departure_time | date:"Y" }}<br>Day / Month</th>
                <th scope="col">Type<br>Registration</th>
                <th scope="col">From<br>To</th>
                <th scope="col">Departure<br>Arrival</th>
                {% for aircraft_type in AircraftType reversed %}
                    <th class="text-center">{{ aircraft_type }}</th>
                {% endfor %}
                <th scope="col" class="text-center">Landings</th>
                <th scope="col">Name</th>
                {% for function_type in FunctionType %}
                    <th class="text-center">{{ function_type }}</th>
                {% endfor %}
                <th scope="col">Remarks</th>
            </tr>
            </thead>
            <tbody>
            {% for obj in object_list %}
                <tr>
                    <td>{{ obj.departure_time | date:"d/m" }}</td>
                    <td>{{ obj.aircraft.icao_designator }}<br>{{ obj.aircraft.registration }}</td>
                    <td>{{ obj.from_aerodrome.icao_code }}<br>{{ obj.to_aerodrome.icao_code }}</td>
                    <td>{{ obj.departure_time | time:"H:i" }}<br>{{ obj.arrival_time | time:"H:i" }}</td>
                    {% for aircraft_type in AircraftType reversed %}
                        <td class="text-center">
                            {% if obj.aircraft.type == aircraft_type %}
                                {{ obj.arrival_time | subtract:obj.departure_time | duration:"%h:%M" }}
                            {% elif obj is not None %}
                                -
                            {% endif %}
                        </td>
                    {% endfor %}
                    <td class="text-center">{{ obj.landings }}</td>
                    <td>{% if obj.pilot %}{% if not obj.pilot.me %}{{ obj.pilot.first_name.0 }}. {{ obj.pilot.last_name }}{% else %}Self{% endif %}{% endif %}</td>
                    {% for function_type in FunctionType %}
                        <td class="text-center">
                            {% if obj.time_function == function_type %}
                                {{ obj.arrival_time | subtract:obj.departure_time | duration:"%h:%M" }}
                            {% elif obj is not None %}
                                -
                            {% endif %}
                        </td>
                    {% endfor %}
                    <td class="col-3">
                        {% if obj.launch_type %}
                            {{ obj.launch_type.capitalize }}<br>
                        {% endif %}
                        {{ obj.remarks }}
                        {% if obj.cross_country %}<strong>[XC]</strong>{% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                {% with object_list|last as last_entry %}
                    <td colspan="4" class="text-muted text-end">Totals carried forward ▶</td>
                    {% for aircraft_type in AircraftType reversed %}
                        <td class="text-muted text-center">{% total_time last_entry.arrival_time aircraft_type=aircraft_type %}</td>
                    {% endfor %}
                    <td class="text-muted text-center">{% total_landings last_entry.arrival_time %}</td>
                    <td class="text-muted text-end">▶</td>
                    {% for function_type in FunctionType %}
                        <td class="text-muted text-center">{% total_time last_entry.arrival_time time_function=function_type %}</td>
                    {% endfor %}
                    <td class="text-muted">◀ Totals carried forward</td>
                {% endwith %}
            </tr>
            </tfoot>
        </table>
    </div>

    {% include "logbook/pagination.html" with is_paginated=is_paginated paginator=paginator page_obj=page_obj only %}

    <h2>Import from Vereinsflieger</h2>

    {% bootstrap_messages %}

    <div class="container pt-3">
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form layout="horizontal" %}
            <button type="submit" name="import" class="btn btn-primary">Import</button>
        </form>
    </div>

{% endblock %}
